body {
    background-color: #f44242;
}




nav-list {
  display: flex;
}

ul {
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: red;
    top: 0;
    width: 100%;
  display: flex;
}

li { 
  float: left;
  border-right: 1px solid #bbb;
    font-family: sans-serif;
  display: flex
}

.nav-col {
  display: block;
padding: 14px 16px;
color: white;
text-align: center;
  text-decoration: none;
  display: flex;
}

#name {
  text-align: center;
color: white;
font-family: verdana;
font-size: 50px;
letter-spacing: 20px;
word-spacing: 1px;
border-bottom: 5px solid salmon;
}
h2 {
  color: white;
  display: flex;
}
#slideshow {
  text-align: center;
}
img {
  width: 230px;
  height: 230px;
  border: dotted black
}
button {
  color:white;
  background-color:#f44242;
}
.hidden {
  visibility: hidden;
}
#who, #Mypoem {
  color: white
}
#words, #poem {
  background-color: white;
  border: dashed red;
  font-weight: bold;
  padding:10px;
  margin:10px;
}
#songs {
  color: white;
}
.content{
    border: solid black;
    background-color: #f44242;
}



